<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GpxCli Map</title>
    
    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

    <!-- leaflet fullscreen icon plugin -->
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    <style>
        html, body {
            height: 100%;
            width: 100%;
            margin: 0px;
            padding: 0px;
        }
        .leaflet-container {
            height: 100%;
            width: 100%;
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>

<body>

    <div id="map" style="width: 100%; height: 100%;"></div>
    <script>
        var map = L.map( 'map', {fullscreenControl: true})
            .setView([51.505, -0.09], 13);

        var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        
        var geoJson=JSON.parse("{{.}}");
        
        // style based on feature properties 
        function styleFunc(feature) {
            //console.log(feature.properties)
            return {
                color: feature.properties.color || "#3333ff",
                weight: 3
            }
        }

        // draw circles instead of markers for features of type Point
        function pointFunc(geoJsonPoint, latlng) {
            return L.circle(latlng, {radius: 5})
        }
        
        var tracksLayer = L.geoJSON(
            geoJson,
            {
                style: styleFunc,
                pointToLayer: pointFunc
            }).addTo(map);

        map.fitBounds(tracksLayer.getBounds())

    </script>

</body>
</html>